html {
	background-image: url("../images/background.jpg");
	height: 1000px;
}

header {
	font-size: 18px;
	height: 80px;
	line-height: 80px;
	font-family: 'Poller One', cursive;
}

h1 {
	font-size: 16px;
	font-weight: normal;
	font-family: 'Poller One', cursive;
}

.character {
	height: 170px;
	width: 130px;
	border-width: 2px;
	border-color: green;
	border-style: solid;
	display: inline-block;
}

.enemy-character {
	height: 170px;
	width: 130px;
	border-width: 2px;
	border-color: red;
	border-style: solid;
	display: inline-block;
}

.name {
	font-size: 14px;
	position: top;
}

.health {
	font-size: 14px;
}